<br>
<h1>Add task</h1>
<form [formGroup]="Task">
    <label>title</label>
    <input class="form-control" type="text" formControlName="title">

    <div class="alert alert-danger" *ngIf="this.Task.controls['title'].invalid && this.Task.controls['title'].touched">
        <p *ngIf="this.Task.controls['title'].hasError('required')">nom est obligatoire</p>
    </div>

    <label>dateD</label>
    <input class="form-control" type="date" formControlName="dateD">

    <div class="alert alert-danger" *ngIf="this.Task.controls['dateD'].invalid && this.Task.controls['dateD'].touched">

        <p>dateD est obligatoire</p>
    </div>


    <label>dateF</label>
    <input class="form-control" type="date" formControlName="dateF">

    <div class="alert alert-danger" *ngIf="this.Task.controls['dateF'].invalid && this.Task.controls['dateF'].touched">

        <p>dateF est obligatoire</p>
    </div>




    <input class="w-full shadow-xl py-2.5 px-4 text-sm font-semibold rounded-full text-white bg-blue-600 hover:bg-blue-700 focus:outline-none" type="submit" value="save" (click)="save(Task.value)" [disabled]="Task.invalid">

</form>
